body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width: 1200px) {
    .container {
        width: 1300px;
    }
}

.ui-pnotify {    
    top: 60px;
}

/*INICIO MODAL*/
.modal-header {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border: none !important;
    margin-bottom: 0;
}

    .modal-header h4 {
        font-weight: bold !important;
        font-size: 1.8em;
    }

.modal-dialog {
    width: 70% !important;
}

.modal-body {
    padding-left: 50px !important;
    padding-right: 50px !important;
}

.modal-content {
    padding: 20px;
}
/*FIM MODAL*/

/*Padrão de cores do sistema*/
.blue-color {
    color: #248ecc;
}

.red-color {
    color: #c92042;
}

.green-color {
    color: #317500;
}

/*icones com I dentro de tabela - cursor pointer*/
td i {
    font-size: 1.5em;
    cursor: pointer;
}

/*INICIO BOTAO*/
.btn-add-new {
    color: #fff;
    background-color: #317500;
    border-color: #317500;
    float: right
}
/*FIM BOTAO*/


/*INICIO PRELOADER*/
#preloader_1 {
    position: relative;
    margin: auto;
    width: 0%;
    padding: 10px;
}

    #preloader_1 span {
        display: block;
        bottom: 0px;
        width: 9px;
        height: 5px;
        background: #9b59b6;
        position: absolute;
        animation: preloader_1 1.5s infinite ease-in-out;
    }

        #preloader_1 span:nth-child(2) {
            left: 11px;
            animation-delay: .2s;
        }

        #preloader_1 span:nth-child(3) {
            left: 22px;
            animation-delay: .4s;
        }

        #preloader_1 span:nth-child(4) {
            left: 33px;
            animation-delay: .6s;
        }

        #preloader_1 span:nth-child(5) {
            left: 44px;
            animation-delay: .8s;
        }

@keyframes preloader_1 {
    0% {
        height: 5px;
        transform: translateY(0px);
        background: #9b59b6;
    }

    25% {
        height: 30px;
        transform: translateY(15px);
        background: #3498db;
    }

    50% {
        height: 5px;
        transform: translateY(0px);
        background: #9b59b6;
    }

    100% {
        height: 5px;
        transform: translateY(0px);
        background: #9b59b6;
    }
}
/*FIM PRELOADER*/
