@model ProjetoBase.ViewModel.Setor.CreateSetorViewModel
<hr />
<div class="row">
    <form id="formCreate">
        <div class="col-md-12">
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="Nome" class="control-label"></label>
                    <input asp-for="Nome" class="form-control" />
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="Sigla" class="control-label"></label>
                    <input asp-for="Sigla" class="form-control" />
                    <span asp-validation-for="Sigla" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input asp-for="IsAtivo" /> @Html.DisplayNameFor(model => model.IsAtivo)
                        </label>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <input type="button" value="Adicionar" onclick="createSetor()" class="btn btn-default" />
                </div>
            </div>
        </div>
    </form>
</div>