@{
    ViewData["Title"] = "Setores";
}
<div class="text-center">
    <h2>Setores</h2>
</div>

<button type="button" class="btn btn-add-new" onclick="carregaCreate()">Criar novo setor</button>

<div class="row">
    <div class="col-lg-12">
        <div id="mensagem"></div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div id="formularios"></div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div id="lista"></div>
    </div>
</div>
@*<div class="row">
        <div class="col-md-12">
            <div id='preloader_1'><span></span><span></span><span></span><span></span><span></span></div>
        </div>
    </div>*@
@section scripts{
    <script>
        $(document).ready(function () {
            lista()
        });

        function createSetor() {
            var objeto = $("#formCreate").serialize();
            $.ajax({
                url: "Setores/Create",
                type: "POST",
                data: objeto,
                datatype: "json",
                success: function (data) {
                    console.log(data)
                    if (data.MensagemSucesso != undefined) {
                        lista();
                        $("#formularios").html("");
                        $("#mensagem").html(data.MensagemSucesso);
                    } else {
                        $("#mensagem").html(data.MensagemErro);
                    }
                }
            });
        }


        function updateSetor() {
            var objeto = $("#formUpdate").serialize();
            $.ajax({
                url: "Setores/Update",
                type: "POST",
                data: objeto,
                datatype: "json",
                success: function (data) {
                    console.log(data)
                    if (data.MensagemSucesso != undefined) {
                        lista();
                        $("#formularios").html("");
                        $("#mensagem").html(data.MensagemSucesso);
                    } else {
                        $("#mensagem").html(data.MensagemErro);
                    }
                }
            });
        }

        function escrevePreLoader(elementoId) {
            $(elementoId).html("<div id='preloader_1'><span></span><span></span><span></span><span></span><span></span></div>")
        }

        function carregaCreate() {
            escrevePreLoader("#formularios");
            $("#formularios").load("Setores/CarregaCreate");
        }

        function carregaUpdate(id) {
            escrevePreLoader("#formularios");
            $("#formularios").load("Setores/CarregaUpdate/" + id);
        }

        function lista() {
            escrevePreLoader("#lista");
            $("#lista").load("setores/lista");
        }

    </script>
}